{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!
{% endblock %}

{% block body %}
<body style= "background-color:#D7CCC8">
<h1 class="text-center">Nos chambres </h1>
<section>

	<div class="col-md-3 m-5 d-inline-block">
		<div style="background-color:#C5B7C7" class="card" style="width: 18rem;">
			
				<div class="card-body ">
					<h5 class="card-title rounded shadow-sm text-center">Chambre Classique</h5>
                    <img src="https://images.unsplash.com/photo-1566665797739-1674de7a421a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" width="550px" height="250px"  class="card-img-top">
                    <h6 class="card-text m-3">Chambre pour une personne</h6>
					<p class="card-text">Chambre pour une personne, literie haut de gamme, lit 160, 10 m2, salle de bain private équipée d'une douche. La chambre classique allie confort et équipements modernes, idéal pour un court séjour.  Ces chambres ont toutes été relookées par notre designer.</p>
					<h5 class="card-text">99.00 €</h5>
					<a href="" class="btn btn-secondary ">Réserver</a>
				</div>
		</div>
	</div>

	<div  class="col-md-3 m-4 d-inline-block">
		<div style="background-color:#C5B7C7" class="card" style="width: 18rem;">
			
				<div class="card-body">
					<h5 class="card-title rounded shadow-sm text-center">Chambre Confort</h5>
                    <img src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop"width="550px" height="250px"   class="card-img-top">
                    <h6 class="card-text m-3">Chambre pour deux personnes</h6>
					<p class="card-text ">Chambres doubles, entièrement rénovées et décorées individuellement. Nous avons donné libre cours à l'imagination des décorateurs quant à la création d'une véritable ambiance parisienne. Les toutes nouvelles salles de bains sont d'un blanc immaculé.</p>
					<h5 class="card-text">120.00 €</h5>
					<a href="" class="btn btn-secondary m-6">Réserver</a>
				</div>
		</div>
	</div>

	<div class="col-md-3 m-5 d-inline-block">
		<div style="background-color:#C5B7C7" class="card" style="width: 18rem;">
			
				<div class="card-body">
					<h5 class="card-title rounded shadow-sm text-center">Chambre Suite</h5>
                    <img src="https://images.unsplash.com/photo-1562438668-bcf0ca6578f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop" width="550px" height="250px" class="card-img-top ">
                    <h6 class="card-text m-3 ">Chambre pour deux personnes</h6>
					<p class="card-text">Chambres doubles, entièrement rénovées et décorées individuellement. Nous avons donné libre cours à l'imagination des décorateurs quant à la création d'une véritable ambiance parisienne. Les toutes nouvelles salles de bains sont d'un blanc immaculé.</p>
					<h5 class="card-text font-weight-bold">210.00 €</h5>
					<a href="" class="btn btn-secondary m-6">Réserver</a>
				</div>
		</div>
	</div>

	
	
	

</body>


{% endblock %}