{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<body style= "background-color:#D7CCC8">
<div class="card mb-3">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1541435469116-8ce8ccc4ff85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" height="450px" alt="Card image cap">
  <div class="card-body">
    
  </div>
<h1 class="m-3">Notre Histoire</h1>
<p class="m-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil unde facilis enim deserunt debitis reprehenderit quia praesentium? Sequi ipsum ab accusamus, natus mollitia est distinctio? Dignissimos voluptatum sit debitis at?
Dolorem ipsa sunt laudantium fugiat assumenda consectetur sapiente sint minima reprehenderit commodi nisi doloremque officiis corrupti soluta sequi temporibus itaque, asperiores labore sit atque eum quaerat consequuntur obcaecati nam? Perspiciatis!</p>

<p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad incidunt libero, cum hic sed inventore beatae atque a voluptatum, magnam odio similique nobis mollitia deleniti repudiandae illum dolore repellendus voluptatem.
Voluptatibus recusandae iste ipsam ipsa nostrum maiores, quidem quisquam magnam dolorem pariatur facilis sint repudiandae nisi debitis saepe non illum optio, tenetur veniam eligendi placeat sunt amet explicabo. Voluptatibus, vitae!</p>

<h1 class="m-3">Une expérience Unique</h1>
<p class="m-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil unde facilis enim deserunt debitis reprehenderit quia praesentium? Sequi ipsum ab accusamus, natus mollitia est distinctio? Dignissimos voluptatum sit debitis at?
Dolorem ipsa sunt laudantium fugiat assumenda consectetur sapiente sint minima reprehenderit commodi nisi doloremque officiis corrupti soluta sequi temporibus itaque, asperiores labore sit atque eum quaerat consequuntur obcaecati nam? Perspiciatis!</p>

<p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad incidunt libero, cum hic sed inventore beatae atque a voluptatum, magnam odio similique nobis mollitia deleniti repudiandae illum dolore repellendus voluptatem.
Voluptatibus recusandae iste ipsam ipsa nostrum maiores, quidem quisquam magnam dolorem pariatur facilis sint repudiandae nisi debitis saepe non illum optio, tenetur veniam eligendi placeat sunt amet explicabo. Voluptatibus, vitae!</p>
<div class="text-center">
<h1 class="m-3 text center">Plan et accès</h1>
  <iframe class=" text-center m-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.474162345977!2d2.336511!3d48.849168000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671db9b89a8fd%3A0x667457c0479c7131!2s15%20Rue%20de%20Vaugirard%2C%2075006%20Paris!5e0!3m2!1sfr!2sfr!4v1666345128610!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>>
  </div>

</body>

{% endblock %}