{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!
{% endblock %}

{% block body %}
<body style= "background-color:#D7CCC8">
	<h1 class="text-center m-5">Notre Restaurant </h1>
	<div class="card col-md-5 m-5 d-inline-block" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1596701062351-8c2c14d1fdd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhvdGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"  alt="Petit dejeuner">
  <div class="card-body">
    <h5 class="card-title">Petit Déjeuner Continental</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	<h5 class="card-text">25.00 €</h5>
    <a href="#" class="btn btn-secondary">Notre menu petit dejeuner</a>
  </div>
</div>
<div class="card card col-md-5 m-5 d-inline-block" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1531088009183-5ff5b7c95f91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGhvdGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
  <div class="card-body">
    <h5 class="card-title">Petit Déjeuner healfy</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	<h5 class="card-text">32.00 €</h5>
    <a href="#" class="btn btn-secondary">Notre menu petit dejeuner</a>
  </div>
</div>
<div class="card card col-md-5 m-5 d-inline-block" style="width: 18rem;">
  <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1661594716320-e2a76204bf9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzMxfHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" height="400px">
  <div class="card-body">
    <h5 class="card-title"> Déjeuner </h5>
    <p class="card-text">Nos menus dejeuner sont préparés soigneusement par notre chef. les produits sont locaux et suivent la saisonnalité	.</p>
	<h5 class="card-text">60.00 €</h5>
    <a href="#" class="btn btn-secondary">Notre menu déjeuner</a>
  </div>
</div>
<div class="card card col-md-5 m-5 d-inline-block" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1605880319800-4f524f05436c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjY2fHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" height="400px">
  <div class="card-body">
    <h5 class="card-title"> Diner </h5>
    <p class="card-text">Nos menus du soir sont préparés soigneusement par notre chef. les produits sont locaux et suivent la saisonnalité	.</p>
	<h5 class="card-text">60.00 €</h5>
    <a href="#" class="btn btn-secondary">Notre menu déjeuner</a>
  </div>
</div>
	

</body>
{% endblock %}