{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!
{% endblock %}

{% block body %}
<body style= "background-color:#D7CCC8">
<h1 class="text-center m-5">Envie de bien-être</h1>
    <h5 class="text-center"> Nous avons ce qu'il vous faut !!! Demander notre brochure à la réception.</h5>
	<div class="card col-md-5 m-5 d-inline-block" style="width: 18rem;">
  <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1661411524703-f3fb9b48294f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTYzfHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" height="430px"  alt="Jaccuzzi">
  <div class="card-body">
    <h5 class="card-title">Jaccuzzi</h5>
    <p class="card-text">Notre hotel dispose d'un Jaccuzzi. Nos professionnels seront la pour vous accompagnés</p>
	<h5 class="card-text">40.00 €</h5>
   
  </div>
</div>
<div class="card card col-md-5 m-5 d-inline-block" style="width: 18rem;">
  <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1661295619246-1202703df9f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDI3fHxob3RlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
  <div class="card-body">
    <h5 class="card-title">Sauna</h5>
    <p class="card-text">Notre hotel dispose d'un Jaccuzzi. Nos professionnels seront la pour vous accompagner.</p>
	<h5 class="card-text">52.00 €</h5>
    
  </div>
</div>
<div class="card card col-md-5 m-5 d-inline-block" style="width: 18rem;">
  <img class="card-img-top" src="https://img.freepik.com/photos-gratuite/beaute-spa_144627-46202.jpg?w=2000" height="430px">
  <div class="card-body">
    <h5 class="card-title"> Nos soins </h5>
    <p class="card-text">Nos professionnels vous proposent une liste de soins, de massages, pour votre bien être</p>
	<h5 class="card-text"> a partir de 90.00 €</h5>
  
  </div>
</div>

	
</body>

{% endblock %}